* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
 
 
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-style: groove;
    
    background: #dce3e2;  /* fallback for old browsers */
    margin-bottom: 30px;
    position: fixed;
    background: #ED213A;  /* fallback for old browsers */
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: 0;
    z-index: 1;

     
    
   
}
.logo {
    height: 150%;
    margin-bottom: 30px;

}
.nav-bar {
    display: flex;
}
.nav-bar i {
    font-size: 36px;
    display: none;
}
#toggle-menu {
    display: none;
}

.lista-nav {
    list-style: none;
    display: flex;
    gap: 30px;

}
.lista-nav li {
    font-weight: bold;
    font-family: 'Lato', sans-serif
}
.Invitación {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;





}

.imagenrara {
    width: 40%;
    height: 300px;
    display: flex;
    margin-top: 150px;
    margin-bottom: 70px;
    
}
.seg-parte{
   
    width: 45%;
    justify-content: space-around;
    margin-left: 20%;

}
.seg-parte h1{
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 20px;
}
.seg-parte p {
    font-family: 'Catamaran', sans-serif;
    width: 90%;
    font-size: 1em;
}
.seg-parte button {
     
     background-color: white;  
     color: inherit;
     font-weight: 600;
     border-radius: 10px;
     padding: 1% 3%;
     margin-top: 30px;
     gap: 40px;
} 
.lista-nav li:hover {
    text-decoration: underline;
}
 

.masinfocuadrado {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     margin-top: 3em;
     margin-bottom: 3em;
     margin-left: 5%;
     
     
      
     
}
.masinfocuadrado p{
    width: 50%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 3em;
    margin-right: 12%;
      padding: 3px ;
      box-shadow: 6px 6px 13px -2px rgba(0,0,0,0.83);
      -webkit-caja-sombra: 6px 6px 13px -2px rgba(0,0,0,0.83);
      -moz-caja-sombra: 6px 6px 13px -2px rgba(0,0,0,0.83);
      gap: 40px;
      font-family: 'Merriweather', serif;
      border-left: 50% solid black;
      text-align: center;
      font-size: 1.3em;
      padding-left: 1em;
      padding-right: 1em;
       

}
.fondomasgrande {
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding-bottom: 2em;
    margin-bottom: 3em;
    margin-top: 3em;
}
@media (max-width: 992px){
    .seg-parte {
        text-align: center;
        align-items: center;
        width: 100%;
         
    }
    .seg-parte h1 {
        display: block;
        width: 100%;
    }
    .seg-parte p {
        max-width: 100%;
        font-size: 1.1em;
    }
    .seg-parte button {
        align-items: center;
        justify-content: center;

    }
    .imagenfuego {
        display: none;
    }
}
@media (max-width: 576px) {
    .lista-nav {
        width: 100%;
        background-color: white;
        height: calc(100vh - 80px);
        position: absolute;
        top: 90px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
        font-size: 25px;
    }
    .nav-bar i {
        display: block;
       
    }
    #toggle-menu:checked ~ .lista-nav  {
        transform: translateX(0%);
        transition: all 0.4s ease-in;

    }
}
@media (max-width: 711px) {
    .masinfocuadrado p {
        height: 100%;
    }
}
.card1 {
display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    background-color: white;
     
}
.card1 h2 {
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    margin-left: 300px;
    margin-top: 70px;
    padding-top: 30px;
    
}
.card1 p {
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'Catamaran', sans-serif;
    width: 60%;
    height: 200px;
    margin-left: 270px;
    margin-top: 30px;
    text-align: center;
     
}
.card2 {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
     gap: 30px ;
    margin-bottom: 200px;
}
 
.Seocard {
    align-items: center;
    justify-content: center;
    width: 70%;
    
    background-color: white;
    margin-top: 5px;
     
}
 .iconoseo {
     font-size: 600px;
     align-items: center;
    justify-content: center;
    margin-left: 120px;
    margin-bottom: 30px;
     
}
.Seocard p {
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    font-size: 1em;
    text-align: center;
    margin-left: 50px;
}
.semcard {
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: white;
     
}
.Semicono {
    font-size: 600px;
    align-items: center;
   justify-content: center;
   margin-left: 115px;
   margin-bottom: 30px;
    
}
.semcard p {
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    font-size: 1em;
    text-align: center;
    margin-left: 50px;

}
.diseñoclard {
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: white;
    margin-top: 5px;
}
.diseñoclard img {
    font-size: 600px;
    align-items: center;
   justify-content: center;
   margin-left: 115px;
   margin-bottom: 30px;
}
.diseñoclard p {
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    font-size: 1em;
    text-align: center;
    margin-left: 50px;

}
.contacto {
    width: 100%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    color: white;
    background-color: black;
    display: flex;
}
.contacto2 {
    width: 50%;
}
.contacto2 h2 {
    font-size: 40px;
    margin: 40px 30px;
} 
.dirección {
    font-size: 20px;
   margin-bottom: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
     
    margin-bottom: 50px;
    margin-left: 140px;
}
.teléfono {
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 140px;
    
}
.email {
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-left: 110px;
    margin-top: 5px;
}
.email img {
    width: 70px;
}
.marketing_negro {
    width: 50%;
}
.marketing_negro img {
     
   height: 100%;
   width: 100%;

}